.landing-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-content {
}

.landing-title {
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
}

.landing-link-login a {
  text-decoration: none;
}

.landing-link-register a {
  text-decoration: none;
}

.landing-link-register,
.landing-link-login {
  padding: 10px;
  font-size: 20px;
  color: black;
}

.register-page-container,
.login-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-password-input,
.register-username-input,
.register-name-input,
.login-username-input,
.login-password-input {
  padding: 8px;
  margin: 5px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid gray;
}

.register-button-row,
.login-button-row {
  padding: 5px;
}

.register-button-area,
.login-button-area {
  cursor: pointer;
  padding: 5px;
}

.register-header,
.login-header {
  padding: 10px;
}
