.compare-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}
.compare-table-row {
}

.compare-table-ranking {
  padding: 10px;
}

.compare-table-live-team {
  padding: 10px;
  text-align: left;
}

.compare-table-predicted-team {
  padding: 10px;
  text-align: left;
}

.compare-table-points {
  padding: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.compare-table-logo {
  display: flex;
  width: 20px;
  height: 20px;
}

.compare-table-cell {
  display: flex;
  justify-content: space-between;
}
