.table {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.table-row {
  padding: 5px 10px 5px 10px;
  width: 60vh;
  border: 1px solid black;
  display: flex;
}

.table-rank {
  padding-right: 5px;
}

.table-logo {
  display: flex;
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.make-ranking-favorite-team {
  background-color: gold;
}
