.table {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.table-row {
  padding: 5px 10px 5px 10px;
  width: 60vh;
  border: 1px solid black;
  display: flex;
}

.table-rank {
  padding-right: 5px;
}

.table-logo {
  display: flex;
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.make-ranking-favorite-team {
  background-color: gold;
}

.set-order-view {
  display: flex;
  width: 100%;
}

.set-order-left {
  width: 33%;
  position: relative;
}

.set-order-left-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.set-order-right {
  position: relative;
  width: 33%;
}

.set-order-right-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.set-order-left-content div {
  padding: 15px;
  width: 100%;
}

.main-navbar {
  display: flex;
  justify-content: space-around;
  background: rgba(19, 88, 135, 0.8);
  color: white;

  border-bottom: 3px solid gray;
}

.welcome-banner {
  padding: 20px;
}

.prediction-link,
.leaderboard-link {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.logout-button {
  padding: 20px;
  cursor: pointer;
}

.selected {
  background-color: black;
}
