.leaderboard-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.leaderboard-row {
}

.leaderboard-row-rank {
  padding: 10px;
}

.leaderboard-row-username {
  text-align: left;
  padding: 10px;
  width: 30vh;
  display: flex;
  justify-content: space-between;
}

.leaderboard-row-points {
  padding: 10px;
}

.leaderboard-username-link {
  text-decoration: none;
  color: black;
}

.leaderboard-containers {
  display: flex;
  height: 90vh;
  margin-top: -65px;
  justify-content: space-evenly;
  padding-top: 65px;
}

.overall-leaderboard,
.fan-leaderboard,
.community-leaderboard {
  overflow: auto;
  height: auto;

  
  /* for mobile 
  padding: 30px;
  width: 50%; */
}

.leaderboard-header {
  margin-top: 20px;
}

.dropdown-body {
  width: 30vh;
  margin: 20px;
}

.dropdown-body.div {
  color: #7B63FF;
}